body {
 font-family: helvetica, arial, sans-serif;
 background: ;
 text-align: ;
}

/* MENU */

#nav {
 background: ;
 float: left;
 margin: 0; padding: 0;
 border: 1px solid white;
 border-bottom: none;
 z-index: 1000000px;
}

#nav li a, #nav li {
 float: left;
}

#nav li {
 list-style: none;
 position: relative;
 z-index: 100000000px;
}

#nav li a {
    padding: 1em 24px;
    text-decoration: none;
    color: white;
    background: #0966A5;
    border-right: 1px solid #5CB85C;
    border-left: 1px solid #5EBB5E;
    border-bottom: 1px solid #5EBD5E;
    border-top: 1px solid #5EBB5E;
}

#nav li a:hover {
	z-index: 1000px;
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
z-index: 100000;
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}


#nav li ul 